.titulo1 {
    font-weight: bolder;
}


.banner1 {
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
}

.container-fluid1 {
    padding-top: 210px;
    padding-bottom: 200px;
}

.container-fluid2 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.container-fluid3 {
    padding-top: 50px;
    padding-bottom: #fff;
}

.titulo2 {
    font-size: 30px;
    color: #fff;
}

.fondo1 {
    background-color: #CDCA28;
}

.navbar {
    background-color: #419f7d;
}

.titulo3 {
    color: #000;
    font-size: 50px;
}

.container-fluid4 {
    padding-top: 140px;
    padding-bottom: 140px;
}

.banner2 {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    /*efecto parallax*/
    background-attachment: fixed;
}

i {
    font-size: 50px;
    color: #419f7d;
}
